@font-face {
  font-family: 'Montserrat';
  src: url('../thiep/fonts/Montserrat-Black.woff2') format('woff2'),
      url('../thiep/fonts/Montserrat-Black.woff') format('woff'),
      url('../thiep/fonts/Montserrat-Black.svg#Montserrat-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../thiep/fonts/Montserrat-ExtraBold.woff2') format('woff2'),
      url('../thiep/fonts/Montserrat-ExtraBold.woff') format('woff'),
      url('../thiep/fonts/Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../thiep/fonts/Montserrat-Regular.woff2') format('woff2'),
      url('../thiep/fonts/Montserrat-Regular.woff') format('woff'),
      url('../thiep/fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../thiep/fonts/Montserrat-Thin.woff2') format('woff2'),
      url('../thiep/fonts/Montserrat-Thin.woff') format('woff'),
      url('../thiep/fonts/Montserrat-Thin.svg#Montserrat-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../thiep/fonts/Montserrat-BlackItalic.woff2') format('woff2'),
      url('../thiep/fonts/Montserrat-BlackItalic.woff') format('woff'),
      url('../thiep/fonts/Montserrat-BlackItalic.svg#Montserrat-BlackItalic') format('svg');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../thiep/fonts/Montserrat-ExtraLight.woff2') format('woff2'),
      url('../thiep/fonts/Montserrat-ExtraLight.woff') format('woff'),
      url('../thiep/fonts/Montserrat-ExtraLight.svg#Montserrat-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../thiep/fonts/Montserrat-SemiBold.woff2') format('woff2'),
      url('../thiep/fonts/Montserrat-SemiBold.woff') format('woff'),
      url('../thiep/fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../thiep/fonts/Montserrat-Medium.woff2') format('woff2'),
      url('../thiep/fonts/Montserrat-Medium.woff') format('woff'),
      url('../thiep/fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../thiep/fonts/Montserrat-Light.woff2') format('woff2'),
      url('../thiep/fonts/Montserrat-Light.woff') format('woff'),
      url('../thiep/fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../thiep/fonts/Montserrat-ExtraLightItalic.woff2') format('woff2'),
      url('../thiep/fonts/Montserrat-ExtraLightItalic.woff') format('woff'),
      url('../thiep/fonts/Montserrat-ExtraLightItalic.svg#Montserrat-ExtraLightItalic') format('svg');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../thiep/fonts/Montserrat-BoldItalic.woff2') format('woff2'),
      url('../thiep/fonts/Montserrat-BoldItalic.woff') format('woff'),
      url('../thiep/fonts/Montserrat-BoldItalic.svg#Montserrat-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../thiep/fonts/Montserrat-Italic.woff2') format('woff2'),
      url('../thiep/fonts/Montserrat-Italic.woff') format('woff'),
      url('../thiep/fonts/Montserrat-Italic.svg#Montserrat-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../thiep/fonts/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
      url('../thiep/fonts/Montserrat-ExtraBoldItalic.woff') format('woff'),
      url('../thiep/fonts/Montserrat-ExtraBoldItalic.svg#Montserrat-ExtraBoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../thiep/fonts/Montserrat-Bold.woff2') format('woff2'),
      url('../thiep/fonts/Montserrat-Bold.woff') format('woff'),
      url('../thiep/fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../thiep/fonts/Montserrat-LightItalic.woff2') format('woff2'),
      url('../thiep/fonts/Montserrat-LightItalic.woff') format('woff'),
      url('../thiep/fonts/Montserrat-LightItalic.svg#Montserrat-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../thiep/fonts/Montserrat-SemiBoldItalic.woff2') format('woff2'),
      url('../thiep/fonts/Montserrat-SemiBoldItalic.woff') format('woff'),
      url('../thiep/fonts/Montserrat-SemiBoldItalic.svg#Montserrat-SemiBoldItalic') format('svg');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../thiep/fonts/Montserrat-MediumItalic.woff2') format('woff2'),
      url('../thiep/fonts/Montserrat-MediumItalic.woff') format('woff'),
      url('../thiep/fonts/Montserrat-MediumItalic.svg#Montserrat-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../thiep/fonts/Montserrat-ThinItalic.woff2') format('woff2'),
      url('../thiep/fonts/Montserrat-ThinItalic.woff') format('woff'),
      url('../thiep/fonts/Montserrat-ThinItalic.svg#Montserrat-ThinItalic') format('svg');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

:root{
  --font-primary: 'Montserrat';
  --primary-color: #964021;
}




*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 480px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.box-form{
  height: 1100px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* padding: 40px; */
  background-image: url('./anh/backform-02.png');
  background-position: bottom center;
  background-size: contain;
  background-repeat: no-repeat;
}

.img-form{
  width: 100%;
}
.lb-form{
  font-size: 25px;
  margin: 20px 0;
}


.feed-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  font-family: var(--font-primary);
  color: var(--primary-color);
}

.lb{
  font-weight: 600;
  font-size: 3em;
}

.dot{
  font-size: .7em;
  margin: 30px 0;
}


.in-fe{
  font-size: .8em;
  text-align: center;
  font-weight: 300;
}


[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  /* overflow: hidden; */
  padding: 0;
  position: absolute;
  width: 1px;
  /* white-space: nowrap; */
  }

.container-check {
  margin: 20px 0;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto; */
  font-family: var(--font-primary);
  font-weight: 300;
  }
  

.box-feed:checked+label {
  color: #fff;
  background-color: black;
  }
  
.box-feed{
border-radius: 20px;
width: 100px;
}
  
.box-check{
display: inline-block;
align-items: center;
justify-content: center;
font-family: var(--font-primary);
border-radius: 20px;
/*margin: 0 15px;*/
}

.box-feed:checked+label {
color: #fff;
background-color: var(--primary-color);
}

.box-feed{
border-radius: 20px;
}


.til-check{
/* margin: 0 auto; */
font-style: normal;
font-size: 13px;
font-weight: 400;
}


.check-box {
width: 170px;
text-align: center;
display: inline-block;
border: 1px solid var(--primary-color);
padding: 5px 10px;
margin: 5px 20px;
border-radius: 20px;
font-style: normal;
background-color: #fff;
}
.box-feed:checked+label {
color: #fff;
background-color: var(--primary-color);
}

.box-ten{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-family: 'SVN-Gontham';
  }

  textarea{
    width: 350px;
    height: 100px;
    text-align: left;
    border-radius: 20px;
    border: 1px solid var(--primary-color);
    font-size: 13px;
    font-weight: 300;
    padding: 5px 10px;
    margin: 5px 0;
    font-family: var(--font-primary);
    background: none;
    }

  
  .inp-ten{
  width: 350px;
  height: 30px;
  text-align: left;
  border-radius: 20px;
  border: 1px solid var(--primary-color);
  font-size: 13px;
  font-weight: 300;
  padding: 5px 10px;
  margin: 5px 0;
  }

.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}
.xacnhan{
  height: 30px;
  font-size: 15px;
  background: var(--primary-color);
  color: #fff;
  margin: 20px 10px;
  border-radius: 20px;
  border: 1px solid var(--primary-color);
  cursor: pointer;
  width: 150px;
}
  
  .xacnhan:hover{
  background: #fff;
  color: #111;
}


.box-count{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: var(--font-primary);
}
.count-per{
  width: 100px;
  height: 30px;
  margin: 5px;
  text-align: center;
  border-radius: 20px;
}
.check-ten{
  /* background: #fff;
  border: 1px #111 solid; */
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 500;
}
.xac-nhan{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  font-family: var(--font-primary);
  font-size: 20px;
}
.in-be{
  font-size: 17px;
  font-weight: 500;
}




@media (max-width: 480px){
  .container {
      width: 100%;
  }
  .info{
    font-size: 10px;
  }
  .lichtrinh{
    margin-left: 55px;
  }
  .box-form{
    height: 1100px;
    margin-top: 20px;
  }
}
